* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  font-size: 20px;
}


/* header */
.header__container {
  display: flex;
  flex-direction: row;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
}

.header__container a {
  text-decoration: none;
  color: black;
}

.nav__container ul {
  display: flex;
  flex-direction: row;
}

.nav__container li {
  list-style: none;
  margin: 0 12px;
}

.nav__container a {
  text-decoration: none;
}

/* end of header */


/* menu list container */
.search-menu {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
}

.search-menu input {
  padding: 12px;
  border-radius: 12px;
  font-size: 16px;
  width: 30%;
}

.search-menu button {
  padding: 12px;
  border-radius: 12px;
  font-size: 16px;
}

.menu__container {
  padding: 24px;
  display: grid;
  min-height: 100hv;
  grid-template-columns: repeat(4, minmax(0, 1fr) );
  grid-template-rows: minmax(min-content, max-content);
  gap: 18px;
}
 /* end of menu list container */




 /* menu item */
 .menu-item {
  margin-bottom: 18px;
  padding: 12px;
  display: flex;
  flex-direction: column;
 }
 
 .menu-item__header img {
  height: 40vh;
  width: 100%;
  border-radius: 8px;
 }

 .menu-item__header h3 {
  margin: 6px 0;
  max-width: 100%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
 }

 .menu-item__header a {
  text-decoration: none;
  color: red;
 }


 .menu-item__content {
  height: 100px;
  margin: 6px 0;
  font-size: 17px;
 }

 .menu-item__content p {
  display: -webkit-box;
  overflow: hidden;
   text-overflow: ellipsis;
   -webkit-line-clamp: 5;
           line-clamp: 5; 
   -webkit-box-orient: vertical;
 }

 .readmore__button button {
  padding: 8px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
 }

 .readmore__button button a {
  text-decoration: none;
 }

 /* end of menu item */




 /* detail per menu */
.menu-detail__container {
  display: flex;
  flex-direction: row;
  padding: 24px 36px;
}

.menu-detail__header {
  margin: 0 18px;
}

.menu-detail__header img {
  max-width: 600px;
  max-height: 500px;
  border-radius: 18px;
}

.menu-detail__instructions {
  max-width: 600px ;
}

.menu-detail__instructions h3 {
  font-size: 24px;
  margin-bottom: 12px;
}

.menu-detail__instructions p{
  line-height: 1.6;
  font-size: 18px;
}

 /* end of detail per menu */





 /* footer */
 .footer__container {
  padding: 32px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;

 }

 /* end of footer */



 @media only screen and (max-width: 1000px) {
  .menu__container {
    padding: 16px;
    grid-template-columns: repeat(3, minmax(0, 1fr) );
    gap: 12px;
  
  }

  .menu-detail__container {
    flex-direction: column;
  }

  
 }


 @media only screen and (max-width: 700px) {
  .menu__container {
    grid-template-columns: repeat(2, minmax(0, 1fr) );
  
  }

  .menuitem__image {
    width: 100%;
  }

  .nav__container {
    display: none;
  }

 }

 @media only screen and (max-width: 500px) {
  .menu__container {
    grid-template-columns: repeat(1, minmax(0, 1fr) );
  
  }

  .search-menu input {
    width: 50%;
  }

 }
